{% extends 'MsiMainBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="span8">
        <p><img class="thumbnail" src="{{ team.logoPath~'t_'~team.logoName }}" alt="0"></p>
        <div class="box">
            {% for user in team.users %}
                <img class="thumbnail img-left" src="{{ user.avatarPath~'t_'~user.avatarName }}" alt="0">
                <h3>{{ user.nickname }}</h3>
                <p>{{ user.bio|truncate(125) }}</p>
                <a class="btn btn-mini btn-inverse" href="#">View profile</a>
                <div class="clearfix"></div>
                {% if team.users|length != loop.index %}<hr>{% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block breadcrumb %}
<li><a href="{{ path('homepage') }}">Teams</a></li>
<li class="active"><span class="divider"><i class="icon-white icon-chevron-right"></i></span> {{ team.name }}</li>
{% endblock breadcrumb %}
