{% for article in articles %}
    <h3>{{ article.title }}</h3>
    <p style="margin-top: -9px;"><em>by</em> <a href="#">{{ article.user.username }}</a> <em>{{ article.createdAt|date('Y-m-d') }}</em></p>
    {{ article.body|striptags|truncate(300) }}
    <p><a href="{{ path('msi_news_article_show', {'slug': article.slug}) }}">More &rarr;</a></p>
    {% if articles|length != loop.index %}<hr>{% endif %}
{% endfor %}
